:root
{
	--page-width: 960px;
	--aestetic-border: 1px dashed #424242;
}

body
{
	margin: 0;
	text-align: center;

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0.25rem;
}

main
{
	background-color: bisque;

	max-width: var(--page-width);
	margin: 0 auto;
}

header
{
	display: flex;
	flex-direction: row;
	max-width: var(--page-width);
	margin: 0 auto;
}

.flashcard
{
	background-color:blanchedalmond;
	border: var(--aestetic-border);
	padding: 1rem;
	margin: 0;
	width: 200px;
}

.flashcard img
{
	max-width: 200px;
}

.flashcard h4
{
	border-bottom: var(--aestetic-border);
}

.flashcard ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

form > *
{
	margin: 1rem;
	padding: 1rem;
}

#persona-container
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#persona-container span
{
	margin: 0 1rem;
}

#alignments-container
{
	display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: left;
	padding: 1rem;
	margin: 0;
}

#alignments-container h4
{
	margin: 0 1rem 1rem 1rem;
}

#alignments-container ul
{
	list-style: none;
	padding: 0 5rem;
	margin: 0;
}

#alignments-container ul:not(:last-child) 
{
	border-right: var(--aestetic-border);
}

#stats-container
{
	display: flex;
	flex-direction: column;
}

#stats-container span
{
	display: grid;
	grid-template-columns: 5rem auto;
	padding: 1rem;
}

#stats-container span:not(:last-child) 
{
	border-bottom: var(--aestetic-border);
}

#inventory-container
{
	padding: 1rem;
}

#inventory-header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#inventory-header input[type="number"]
{
	max-width: 4rem;
}

#item-list-container
{
	display: flex;
	justify-content: center;
}

#item-list
{
	text-align: center;
	list-style: circle;
	margin: 0;
	padding: 0;
}